<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="connstr" connectionString="Data Source=127.0.0.1;Database=DBIPSpace;Uid=sa;pwd=123456;"/>
    <!-- connstr为连接字符串,Data Source=数据库实例名;Database=数据库名;Uid=登陆名;pwd=登陆密码 -->
    <add name="urlstr" connectionString="\\192.168.1.99\"/>
    <!-- 商标图片所在计算机路径,数据库路径自带"tmimg\" -->
  </connectionStrings>
</configuration>
